@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    min-height: 100vh;
}
header{
    position: sticky;
    top: 0;
    height: 10vh;
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 1rem;
}
header>ul{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
/* Background*/
header,footer{
    background-color: rgb(32, 32, 58);
    color: #fff;
}
/*Flex */
main{
    margin: 0 10vw;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
fieldset legend img {
    padding: 0 10px;
    height: 60px;
    width: 60px;
}
fieldset  q{
    top: -10px;
    padding: 0 4%;
}
footer{
    position:relative;
    bottom: 0;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
a{
    color: #fff;
}